*{
    margin: 0%;
    padding: 0%;
}
.Input{
    display: inline-flex;
    margin-left: 2%;
    margin-top: 4%;
   
}
.Enter-Data{
    margin-left: 1%;
}
.Submit{
    margin-left: 2%;
    margin-top: 2%;
}
.Download{
    margin-left: 65%;
    padding: 2rem;

}
table{
    outline: 1%;
    margin: 2%;
}
tr{
    border: 5px solid #C1DAD7;
        color: gray;
        line-height: 2rem;
        letter-spacing: 1px;
        padding: 1.5rem 1rem;
        min-width: 10rem;
        border: 1px solid border;
      }
      td{
        border: 2px solid #C1DAD7;
        color: gray;
        line-height: 2rem;
        letter-spacing: 1px;
        padding: 1.5rem 1rem;
        min-width: 10rem;
      }
      th{
        border: 2px solid #C1DAD7;
        color: gray;
        line-height: 2rem;
        letter-spacing: 1px;
        padding: 1.5rem 1rem;
        min-width: 10rem;
      }